/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
     background-color: #333; 
    padding: 15px;
    
  }
  #brand{
    color: #ddd;
    font-size: 45px;
    margin-left: 26px;
  }
  #search-form {
    display: flex;
  }
  
  #search-box {
    border: 1px solid white;
    border-radius: 3px;
    padding: 5px;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    margin-left: 10px;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin-left: 50px;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
    font-size: 18px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #fbf8f8;
    margin-left: 16px;
    margin-right: 2px;
  }
  .search-box {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    width: 558px;
    margin: 0 auto;
  }
  
  .search-type {
    margin-right: 10px;
    border: none;
    outline: none;
  }
  /* test */
  nav ul li:last-child a {
    background-color: #555;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
  }
  /* footer */
  .footer-container {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    background-color: #333;
    color: white;
  }
  
  .footer-section {
    margin: 0 20px;
  }
  
  .footer-section h3 {
    margin: 0 0 10px;
  }
  
  .footer-section p {
    margin: 0;
    line-height: 1.5;
  }
  
  .social-icon {
    display: inline-block;
    margin: 0 10px;
  }
  
  .social-icon img {
    width: 30px;
    height: 30px;
    object-fit: cover;
  }
  
  .footer-bottom {
    background-color: #222;
    padding: 15px 0;
    text-align: center;
  }
  
  .footer-bottom p {
    margin: 0;
    color: white;
  }
  